@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600);
html, body{
-webkit-overflow-scrolling: touch;
}

body{
    overflow-x: hidden;
    font-family: 'Roboto';
    overflow-y: scroll !important
}

header{
    position: relative
}

.resetIndex {
    z-index: 0;
}

p{
  color: #707173;
  font-size: .9em;
  line-height: 1.3em;
  padding-bottom: 10px
}

.single-brand-mega img{
    width: 100%
}

#cat-menu-slider-brand .col-6x{
    width: 85%
}

.single-brand-mega span{
    padding-top: 5px;
    display: inline-block;
    width: 100%;
    border-bottom: 2px solid rgb(231, 231, 231);
    padding-bottom: 5px;
}

p.justify{
    text-align: justify
}

.clear-space{
    height: 60px
}

#countdown-event{
    font-family: 'Roboto';
    height: 130px
}

#countdown-event .col-3x{
    background-color: #4b4b4b;
    color: #fff;
    position: relative;
    height: 100%
}

#countdown-event .col-3x h3{
    padding-top:10px;
    padding-bottom:10px;
}

#countdown-event .col-3x p{
  font-size: .8em;
  line-height: 1.2em;
  padding-bottom: 10px;
  color:rgb(234, 234, 234)
}

#countdown-event .col-3x h3 i{
    background-color: #4b4b4b;
    color: #b42a42;
    position: relative;
    font-size: 1.8em;
    vertical-align: middle;
    padding-right: 10px;
}

#countdown-event .col-3x:after{
  content: "\f057";
  color: #B42A42;
  position: absolute;
  top: 35%;
  right: -20px;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  cursor: pointer;
  z-index: 999
}

#countdown-event .col-3x:after:hover{
  color: #fff;
}

#countdown-event .col-3x:before{
  content: "";
  width: 41px;
  height: 38px;
  border-radius: 38px;
  background-color: #4b4b4b;
  position: absolute;
  top: 40%;
  right: -16px;
  cursor: pointer
}

#countdown-event .col-9x{
    background-color: #e7e7e7;
    color: #747577;
    height: 130px;
    vertical-align: top;
    height: 100%
}

#countdown-event .col-9x>div:first-of-type{
    margin-left: 40px
}

#countdown-event .col-9x #event-stamp>div{
    background-color: #cdcdcd;
    display: inline-block;
    margin: 0 5px;
    color: #4a4a4a;
    box-shadow: inset 0px 0px 30px #999999;
    padding: 25px 35px;
}

#countdown-event .col-9x #event-stamp>div>span{
    color: #b42a42;
    font-size: 1.7em;
    margin-right: 3px
}

    
.ce-mark{
    font-size: 1em;
}

.ce-mark img{
    width: 38px;
    float: left;
    margin-right: 10px;
    vertical-align: middle;
}

.banner-partner{
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    padding-right: 0;
}

.banner-partner img{
    width: 100%;
  border-top-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-right-radius: 5px;
}

.banner-partner a{
    display: block;
    padding: 5px 10px 10px 10px;
    text-align: right;
    background-color: rgb(216, 216, 216);
    color: #444444;
    box-sizing: border-box;
    border: 2px solid rgb(193, 193, 193);
    border-top: 0;
    font-family: 'Open sans';
    font-variant: small-caps;
    font-size: 1.2em;
    border-bottom-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-bottom-right-radius: 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.contact-sidebar h3{
    font-family: 'Open Sans';
    font-weight: bold;
    color: rgb(180, 42, 66);
    padding-bottom: 10px;
    font-size: 1.1em;
    text-shadow: 1px 1px 1px rgb(193, 193, 193);
}

.contact-sidebar h3>span{
    color: #707173;
    font-size: .8em;
}

.contact-sidebar p i{
    margin-right: 10px;
    color: rgb(52, 52, 52);
}

.banner-partner a:hover{
    border: 2px solid rgb(180, 42, 66);
    background-color: #fff;
    border-top: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;                     
}

#countdown-event .col-9x h3{
    padding-left: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#countdown-event .col-9x h3>span{
    color:#b42a42
}

.menu-side{
    padding-bottom: 20px; 
    padding-top: 20px;
}

.logo{
    vertical-align: middle;
    padding-right: 5%;
    width: 287px
}
nav{
    display: inline-block
}
nav ul li{
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 400;
    color: #444444;
    font-size: 14px;
    position: relative;
    cursor: pointer;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
nav ul li:hover{
    color:#b42a42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
nav ul>li>a{
    padding: 15px
}
nav ul>li:first-child a{
    padding-left: 0;
    color: #B42A42
}
/*nav ul>li:last-child>a:first-child{
    padding: 15px 0px 15px 15px 
}*/
nav ul>li:last-child>a:last-child{
    padding: 15px 15px 15px 0px 
}

nav ul li.first-sub:hover ul.dropdown{
    opacity: 1;
    visibility: visible;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

nav ul li.first-sub.mega-attach:hover div.dropdown.megamenu{
    opacity: 1;
    visibility: visible;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.megamenu-nav-arrow{
    display: inline-block;
    position: absolute;
    right: 15px;
}

#cat-menu-slider-used .col-3x{
    width: auto
}

.megamenu-nav-arrow i{
    cursor: pointer;
    color:#999999;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.megamenu-nav-arrow :hover{
    color:#B42A42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.megamenu-nav-arrow i:first-child{
    margin-right: 5px
}

nav ul li.first-sub>ul.dropdown{
  background-color: #fff;
  border-top: 3px solid rgb(180, 42, 66);
  min-width: 280px;
  box-shadow: -3px 3px 6px rgba(51, 51, 51, 0.34);
  position: absolute;
  top:200%;
  left: 0;
  opacity: 0;
  visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
  
}

.serviceList{
    color: #707173;
    font-size: .9em;
    line-height: 1.3em;
    padding-bottom: 10px;
}

.serviceList li{
  padding: 5px 0px;
  font-variant: small-caps;
  font-size: 1.1em;
}

.serviceList li:before{
    content:"\f068";
    font-family: 'FontAwesome';
    color:#b42a42;
    margin-right: 5px;
}

nav ul li.first-sub.mega-attach{
    position: initial !important
}
nav ul li.first-sub>div.dropdown.megamenu{
    background-color: #fff;
    border-top: 3px solid rgb(180, 42, 66);
    min-width: inherit !important;
    width: 100%;
    box-shadow: -3px 3px 6px rgba(51, 51, 51, 0.34);
    position: absolute;
    top: 75%;
    box-sizing: border-box;
    padding: 20px;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}
nav ul li.first-sub>div.dropdown.megamenu p{
    /*display: inline-block*/
}

.megamenu p>a{
    color: inherit;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;  
}

.megamenu p>a:hover{
    color: #B42A42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;  
}

.megamenu .lead-title{
    padding-top: 0;
}

.megamenu .lead-title:before{
    top:20%
}

nav ul li.first-sub>ul.dropdown>li{
    display: block
}

nav ul li.first-sub>ul.dropdown>li>a{
    padding: 15px;
    display: inline-block;
}



nav ul li.first-sub:after{
    content:"+";
    margin-left: -5px;
    color: #b42a42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

nav ul li.first-sub:hover:after{
    color:#444444;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.menu-wrapper{
    box-shadow: 0px 4px 5px rgba(59, 59, 59, 0.5);
    z-index: 999
}

nav ul li.lang-sel{
    color: #b42a42;
    text-transform: uppercase
}

.search-bar{
    background-color: #b42a42;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
    font-family: 'Open Sans';
    position: relative;
    
}

.squared-i{
  color: #fff;
  background-color: #b42a42;
  padding: 10px;
  box-sizing: border-box;
  width: 37px;
  height: 37px;
  text-align: center;
  margin-top: 6px;
}
.multi-tab .services-row:first-child{
    margin-left: -4px
}
.services-row{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.services-row .col-2x , .services-row .col-10x{
vertical-align: middle;
}

.services-row .col-10x{
color: #696a6c;
}

.search-bar .col-3x{
  position: relative;
  vertical-align: middle;
  font-size: 15px;
}

.search-bar select{
  display: block;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  background-color: transparent;
  color: #fff;
  font-size: 14px;
  font-family: 'Roboto';
  outline: none;
  -webkit-appearance: none;
  cursor: pointer
}

.search-bar select>option{
  background-color: rgb(180, 42, 66);
  color: #fff
}

.search-bar .forSelect{
    position: absolute;
    color: #fff;
    right: 25px;
    overflow: hidden;
    padding: 0 10px 7px 10px;
    cursor: pointer;
    z-index: -1
}

.search-bar .forSelect:before{
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  bottom: 0px;
  width: 30%;
  height: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  left: -35%;
}

.search-bar .forSelect:after{
  content: "";
  position: absolute;
  -webkit-box-shadow: 0 0 40px rgba(0,0,0,0.8);
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
  bottom: 0px;
  width: 30%;
  height: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  right: -35%;
}

.search-bar:after{
  content: "";
  width: 100%;
  background-image: url('../images/head-shadow-1.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: -58px;
  left: 0;
  height: 60px;
  z-index: 50
}

#new-used-selection>div{
    background-color: #992237;
    color: #fff;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div:hover{
    background-color: #fff;
    color: #992237;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div.cutted-button-active{
    background-color: #fff;
    color: #992237;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div.cutted-button-active:after{
    border-color: #fff transparent transparent transparent !important;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div.cutted-button-active:before{
    border-color: transparent transparent #fff transparent !important;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div:first-child{
  margin-right: 30px;
}

#new-used-selection>div:first-child:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -20px;
    border-style: solid;
    border-width: 26px 20px 0 0;
    border-color: #992237 transparent transparent transparent;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div:first-child:hover:after{
    border-color: #fff transparent transparent transparent;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div:last-child:before{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: -20px;
    border-style: solid;
    border-width: 0 0 26px 20px;
    border-color: transparent transparent #992237 transparent;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

#new-used-selection>div:last-child:hover:before{
    border-color: transparent transparent #fff transparent;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

.search-col{
    background-color: #c1c1c1;
    padding: 15px;
    color: #444444;
    cursor: pointer;
    position: relative
}

.search-col:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #c1c1c1;
    top: 0;
    left: 100%;
}

.search-col i{
  color: #b42a42;
  padding-right: 3px;
  font-size: 1.2em;
}

.tp-banner{
    //margin-bottom: 30px
}

.lead-title{
    font-family: 'Open sans';
    color: #707173;
    text-shadow: 1px 0px 1px rgba(66, 66, 66, 0.6);
    padding: 10px 0 20px 0;
    position: relative;
    background-color: #fff;
    z-index: 0
}

.lead-title-w{
    font-family: 'Open sans';
    color: #fff;
    text-shadow: 1px 0px 1px rgba(66, 66, 66, 0.6);
    padding: 10px 0 20px 0;
    position: relative;
    z-index: 0;
    text-transform: uppercase
}

.lead-title-w span{
  font-family: 'Open sans';
  color: #b42a42;
  text-shadow: 1px 0px 1px rgba(0, 0, 0, 0.6);
  padding: 10px 0 20px 0;
  position: relative;
  z-index: 0;
  font-weight: bold;
  font-size: .9em;
}

.lead-title:before{
    content: "";
    width: 100%;
    border: 1px solid #ededed;
    position: absolute;
    top: 40%;
    left: 0;
    z-index: -1;
}

.fullWcol{
    width: 100%
}

.newsEvent{
    border-bottom-right-radius: 15px;
    border: 2px solid rgb(231, 231, 231);
    border-top: transparent;
    border-left: transparent;
    margin: 20px 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

.newsEvent .date{
    font-size: .9em;
    font-style: italic
}

.newsEvent .col-4x{
    background-image: url('../upload/eventi/xylexpo.jpg ');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    min-height: 100px;
}

.frame-video-container{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #ededed;
}


.invalidField{
    border-color: red !important;
    border-right-width: 5px !important;
}


.thxMsg>span{
    color: #b42a42
}

.thxMsg{
  text-align: center;
  box-sizing: border-box;
  padding: 15px;
  font-size: 1.5em;
  font-variant: small-caps;
  font-weight: bold;
  font-family: 'Open Sans'; 
}

.thxMsg:first-letter{
    color: #b42a42 
}

.submitSide{
    text-align: right;
}

.lead-title span{
  color: #B42A42;
  font-weight: 600;
}

.highted-title{
    color:#b42a42;
    font-family: 'Open Sans';
    padding: 10px 0;
    font-weight: 600
}

.youtube-thumb-container{
    display: block;
    padding: 20px 0 0 0;
    height: 80px;
}

.youtube-thumb-content{
  width: 75px;
  height: 75px;
  /*padding: 5px;*/
  border-radius: 5px;
  background-color: rgb(75, 75, 75);
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat
}

.youtube-thumb-nav-button{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  padding: 0 10px;
  cursor: pointer;
  width: 6%;
  box-sizing: border-box;
}

.youtube-thumb-nav-button>i{
    padding-top: 30px;
    color: rgb(180, 42, 66);
}

.youtube-thumb-mask{
    width: 86%;
    box-sizing: border-box;
    overflow: hidden;
    display: inline-block !important;
    vertical-align: top;
    text-align: center;
}

.variable-size-column{
    height: 175px;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.variable-size-column .col-5x{
    width:100%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.variable-size-column .col-7x{
    width:0%;
    overflow: hidden;
    padding:0;
    opacity: 0;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
}

.variable-size-column:hover{
    width: 49.9%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.variable-size-column *[class^="col-"]{
    height: 100%;
}

.variable-size-column .col-5x{
    border-radius: 5px;
    background-color: #444444;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat
}

.variable-size-column:hover .col-5x , .active-col .col-5x{
    width: 41.7%;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.variable-size-column:hover .col-7x , .active-col .col-7x{
    width: 58.3%;
    padding: 0 3%;
    opacity: 1;
    transition: opacity .2s linear .3s;
    -webkit-transition: opacity .2s linear .3s;
    -moz-transition: opacity .2s linear .3s;
}

.active-col{
    width: 49.9% !important;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
}

.single-news-container{
    width: 100%; 
    border-radius: 5px; 
    height: 100%
}

.single-news-container .content-descr{
    height: 110px;
    overflow: hidden;
}

.single-news-container h3{
    color: #696a6c;
    font-family: 'Open Sans';
    font-style: italic;
    padding-bottom: 10px;
}

.single-news-container h3>small{
color: #b42a42;
  display: block;
  padding-top: 3px;
  font-size: .75em;
  text-align: left;
}

.single-news-container p{
    color: #888888;
    font-family: 'Roboto';
    font-size: .85em
}

.single-news-container a.link{
    color: #b42a42;
    font-size: .85em;
    display: block;
    text-align: right
}

.single-news-container a.link>i{
    padding-left: 3px
}

footer{
    background-color: #343434;
    padding-top: 30px;
}

footer p{
    color: #b8b8b8;
    font-family: 'Roboto'
}
footer p span, footer a.link{
    color: #b42a42;
    text-decoration: underline
}

.footer-logo{
    width: 100%;
    border: 2px solid #3e3e3e;
    box-sizing: border-box;
    padding: 15px;
    margin-bottom: 10px;
}

footer ul li{
    color: #b8b8b8;
    font-variant: small-caps;
}

footer ul li:hover a{
    color: #b42a42;
}

footer ul li a>i{
    color: #343434;
    font-size: .7em !important;
    padding-left: 5px;
}

footer ul li:hover a>i{
    color: #b42a42;
}
.tab-container{
    padding-right: 0
}

.multi-tab{
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    box-sizing: border-box;
    padding: 10px;
    background-color: #fff
}

footer .dark-grey-band{
    background-color: #2a2a2a;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #b8b8b8;
    font-size: .85em;
    margin-top: 40px
}

#map-canvas{
    border:2px solid #3e3e3e;
    box-sizing: border-box
}

footer .dark-grey-band span{
    color: #b42a42;
    margin-right: 5px
}

.multi-tab.special{
    background-color:#D8D8D8;
    text-align: center
}

.tab-navigation-container{
    padding-left: 0;
    margin-left: -6px
}

ul.tab-navigation li{
    font-family: 'Open Sans';
    color: #444444;
    padding: 8px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 2px solid rgb(231, 231, 231);
    margin: 2px 0;
    border-left-color: transparent;
    cursor: pointer;
    box-sizing: border-box;
    background-color:#fff
}

.data-tab{
    display: none !important
}

ul.tab-navigation li:first-child{
    margin-top: 0
}

ul.tab-navigation li>i{
    color: #b42a42;
    padding-right: 5px
}

ul.tab-navigation li.facebook-tab{
    font-family: 'Open Sans';
    color: #3b5998;
    background-color: #D8D8D8
}

ul.tab-navigation li.facebook-tab>i{
    color: #3b5998;
}

.sidebar>ul{
    border: 1px solid #E7E7E7;
    box-sizing: border-box
}

.sidebar img{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid rgb(231, 231, 231);
    padding: 15px;
}

.sidebar p{
  font-size: 1em;
  box-sizing: border-box;
  padding: 0px 2px 12px 2px;
}

.sidebar p.date{
  text-align: right;
  font-size: .8em;
  color: rgb(180, 42, 66);
  font-weight: bold;
  padding-top: 5px;
}

.sidebar p.date>i{
    margin-right: 5px
}

.sidebar>ul>li{
  box-sizing: border-box;
  padding: 10px 20px;
  font-family: 'Open Sans';
  font-size: .9em;
  border-bottom: 1px solid #E7E7E7;
  color: #707173;
    transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.sidebar>ul>li>a>i{
    color: #b42a42;
    margin-right: 10px;
    transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.sidebar>ul>li:hover >a>i{
    color: #fff;
    transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
}

.sidebar>ul>li:hover{
    background-color: #b42a42;
    color: #fff;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.prod-image-container{
    background-color: #E7E7E7; 
    border-radius: 7px; height: 200px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100%;
    cursor: pointer;
    position: relative;
    margin-bottom: 30px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.noImage{
    background-image: url('../images/no-image.svg') !important;
    background-size: 40% 100% !important;
    background-repeat: no-repeat;
}

.noImage .overlayer{
    display: none !important
}

.prod-image-container:hover{
    background-size: 120%;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.prod-image-container>.overlayer{
    background-color:rgba(180, 42, 66, 0.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: 7px;
    box-sizing: border-box;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.prod-image-container i{
    color: #fff;
    margin-top: 25%
}

.overlayer>a{
    display: none
}

.overlayer>a:first-of-type{
    display:  inherit
}

.prod-image-container:hover>.overlayer{
    opacity: 1;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.related-prod>.col-4x{
    border-radius: 5px;
    border: 1px solid #bdbdbe;
    padding: 0;
    margin: 0 1%;
    width: 30.9%
}

.related-prod>.col-4x>p{
    padding: 10px 10px 0 10px
}

.related-prod>.col-4x>small{
    color:#b42a42;
    font-style: italic;
    font-size: .75em;
    padding: 5px 10px;
    text-transform: uppercase;
    display: block
}

.related-prod>.col-4x>a{
    display: block;
    border-top: 1px solid #bdbdbe;
    padding: 10px 0;
    margin: 10px 10px 0 ;
    color: #bdbdbe;
    font-family: 'Roboto';
    text-align: center;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.related-prod>.col-4x>a:hover{
    color: #B42A42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

.related-prod .rel-image{
    height: 150px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat
}

.prod-title{
    font-family: 'Open Sans';
    color: #6a6b6d;
    font-size: 1.2em;
    padding-bottom: 15px
}

.prod-title>small{
    display: block;
    font-size: .9em;
    color:#B42A42;
    font-style: italic;
    padding-top: 10px;
    font-family: 'Roboto'
}

.data-prod .single-data{
    padding-top: 10px
}

.data-prod .single-data p{
    line-height: .9em
}

.data-prod .single-data p:last-child{
    color:#B42A42;
    font-size: 1em
}

.data-prod{
    padding-left: 4%
}

.single-prod-list{
    margin: 10px 0 
}

.go-in{
      text-align: right;
  margin-bottom: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #D3D3D3;
  border-bottom: 1px solid #D3D3D3;
  color: #999999;
}

.go-in>i{
     color: #B42A42
}

form.nl-subscription input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid rgb(62, 62, 62);
    background-color: transparent;
    color: rgb(255, 255, 255);
    outline: none;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.nl-subscription button{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid rgb(62, 62, 62) !important;
    border: 0;
    background-color: transparent;
    padding: 10px;
    outline: none;
    font-family: 'Roboto';
    color: #b8b8b8;
    cursor: pointer;
    font-size: 1.1em;
    margin-top: 25px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.nl-subscription button:hover{
    color: #fff;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.nl-subscription button:hover i{
    font-size: 1.4em;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.nl-subscription button i{
    color:#B42A42;
    margin-right: 5px;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.nl-subscription input:hover,form.nl-subscription input:focus{
    border: 2px solid #B42A42;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
}

form.contact-form{
    box-sizing: border-box;
    padding: 20px 10px;
}

form.contact-form input{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    outline: none;
    margin: 10px 0;
    width: 100%
}

form.contact-form select{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    outline: none;
    margin: 10px 0;
    width: 100%;
    color: #b42a42
}

form.contact-form textarea{
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #cccccc;
    outline: none;
    margin: 10px 0;
    width: 100%;
    resize: none;
    font-family: 'Roboto';
    height: 100px;
}

form.contact-form .col-12x:nth-child(3){
    margin-top: 20px
}

form.contact-form .col-12x:last-child{
    text-align: right
}


form.contact-form div.buttonInvia{
    background-color: rgb(180, 42, 66);
    color: #fff;
    border: 0;
    padding: 10px 25px;
    font-size: 1em;
    font-family: 'Roboto';
    cursor: pointer;
    outline: none;
    display: inline-block;
    margin-right: 9%;
    text-align: center
}

.buttonFullW{
    display: block !important;
    margin-right: 0 !important
}

form.contact-form button[type="submit"]>i{
    font-size: 1.2em;
    margin-right: 5px;

}

form.contact-form div.shadowed{
    display: inline-block;
    position: relative;
    vertical-align: inherit;
    width: 85%
}

form.contact-form div.shadowed:before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-image: url('../images/input-shadow.png');
    background-position: top center;
    background-size: cover;
    opacity: .8
}

form.contact-form i.label{
    color: #fff;
    background-color: #b42a42;
    padding: 10px;
    box-sizing: border-box;
    width: 37px;
    height: 37px;
    text-align: center;
    margin-right: 10px;
    margin-top: 10px
}

    header #slide-menu-button{
        visibility: hidden;
    }
    
    .swipableMenu{
        display: none;
    }

    .footer-social{
        display: inline-block;
        width: auto;
        vertical-align: middle;
        float: right;
        margin-top: -5px;
    }

    .footer-social i{
        color: #2A2A2A;
        background-color: #6F6F6F;
        padding: 6px;
        box-sizing: border-box;
        width: 25px;
        height: 25px;
        text-align: center;
        margin: 0 3px;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .bg-fixed{
        background-image: url('../images/assistenza-post-vendita.jpg');
        background-blend-mode: multiply;
        padding: 100px 0 100px 0;
        background-color: rgba(182, 182, 182, 1);
        box-sizing: border-box;
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: inset -34px -5px 25px rgb(79, 79, 79);
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
    }
    
    .sidebar-form button[type="submit"]{
        width: 100%;
        margin-top: 5px
    }
    
    .prod-image-side img{
        width: 100%;
        border: 2px solid rgb(231, 231, 231);
        box-sizing: border-box;
        box-shadow: -1px 1px 5px rgb(231, 231, 231);
    }
    
    .prod-image-side svg{
        width: 100%;
        box-sizing: border-box;
    }
    
    #response{
        padding-top: 10px
    }
    
    .single-work{
        padding-bottom: 15px
    }
    
    .prod-image-side a{
        display: block;
        padding: 10px;
        text-align: right;
        margin-top: 10px;
        border: 2px solid rgb(231, 231, 231);
        color: rgb(180, 42, 66);
        font-family: 'Open Sans';
        font-weight: bold;
        background-color: #fff;
        cursor: pointer;
        border-bottom-right-radius: 10px;
        font-variant: small-caps;
        font-size: 1.2em;
    }
    
    .prod-image-side a:first-child{
        padding: 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border: 0;
    }
    
    .social-bar{
        text-align: right
    }
    
    .social-bar ul li{
        color: #818181;
        background-color: #E7E7E7;
        padding: 7px 0;
        box-sizing: border-box;
        width: 28px;
        height: 26px;
        text-align: center;
        display: inline-block;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li.facebook:hover{
        color: #fff;
        background-color: rgb(72, 103, 170);
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li.linkedin:hover{
        color: #fff;
        background-color: rgb(26, 133, 188);
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li.twitter:hover{
        color: #fff;
        background-color: #659FCB;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li.google-plus:hover{
        color: #fff;
        background-color: #DF4B38;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li.youtube:hover{
        color: #fff;
        background-color: #D12121;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .social-bar ul li:first-child{
        width: auto;
        background-color: transparent;
        font-family: 'Roboto';
        font-size: .9em;
        color: rgb(167, 167, 167);
    }
    
    
    .details-image img{
        width: 30%;
        margin: 1%;
        border: 2px solid rgb(231, 231, 231);
        box-shadow: -1px 1px 5px rgb(231, 231, 231);
        box-sizing: border-box;
        vertical-align: top
    }
    
    .details-image {
        padding-top: 20px
    }
    
    .glass-effect{
        padding-bottom: 10px;
        background-color: rgba(255,255,255,.3);
        box-shadow: inset 0px 0px 10px rgb(121, 118, 118);
    }
    
    .glass-effect h1{
        font-size: 3em;
        font-family: 'Open Sans';
        font-weight: bold;
        margin-bottom: 10px;
        text-transform: lowercase;
        font-variant: small-caps;
        color: rgb(180, 42, 66);
        text-shadow: 1px 1px 1px rgb(3, 3, 3);
    }
    
    .glass-effect h2{
        color: rgb(255, 255, 255);
        font-size: 1.4em;
        font-family: 'Roboto';
        text-shadow: 0px 1px 1px rgba(36, 36, 36, 1);
    }
    
    
    .glass-effect img{
        margin: 10px 0
    }
    
    .footer-social a.f-facebook:hover i{
        color: #fff;
        background-color: rgb(59, 89, 152);
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .footer-social a.twitter:hover i{
        color: #fff;
        background-color: #659FCB;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .footer-social a.linkedin:hover i{
        color: #fff;
        background-color: #007BB6;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .footer-social a.google-plus:hover i{
        color: #fff;
        background-color: #DF4B38;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .footer-social a.youtube:hover i{
        color: #fff;
        background-color: #E12B27;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .serv-descr span.cit{
        font-style: italic;
        color: rgb(180, 42, 66);
        display: block;
        padding-bottom: 15px;
    }
    
    .serv-descr {
          padding-top: 40px;
    }
    
    .serv-descr p{
        text-align: justify
    }
    
    .pagination{
        display: block;
        text-align: center;
        font-family: 'Roboto';
        color: #fff;
    }
    
    .pagination .active-pag{
        background-color: rgb(52, 52, 52)
    }
    
    .pagination li{
        display: inline-block;
        height: 32px;
        overflow: hidden;
        width: 32px;
        vertical-align: top;
        text-align: center
    }
    
    .pagination li:first-child{
        margin-right: 5px;
    }
    
    .pagination li a.prevNext{
        background-color: #B42A42; 
    }
    
    .pagination li:last-child{
        margin-left: 5px;
    }
    
    .pagination li a{
        display: inline-block;
        padding-top: 9px;
        background-color: #b8b8b8;
        width: 100%;
        height: 100%;
    }
    
    #data-sheet-print-button{
        color: #707173;
        border: 0;
        background-color: #E7E7E7;
        border-right: 3px solid #BFBFBF;
        padding: 15px 20px;
        outline: none;
        font-family: 'Roboto';
        cursor: pointer;
        margin: 0px 0px 20px 0px;
        border-bottom: 3px solid #BFBFBF;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    #data-sheet-print-button:hover{
        background-color: #B42A42;
        color: #E7E7E7;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    #data-sheet-print-button:hover span{
        color: #E7E7E7;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    #data-sheet-print-button span{
        color: #B42A42;
        text-shadow: 0px 1px 0px #3E3E3E;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;

    }
    
    
    .print-info{
        cursor: pointer;
        color: #BFBFBF;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .print-info:hover{
        color: #8C8C8C;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .sel-lat-prod-list{
        display: none
    }
    
    .wrapper-print{
        margin-top: 20px
    }
    
    .wrapper-print>.col-4x{
       padding-left: 0
    }
    
    .subbed{
        text-decoration: underline;
        font-style: italic
    }
    
@media all and (max-width: 769px) and (orientation:portrait){
    
    body{
        width: 100%
    }
        .swipableMenu{
        position: fixed;
        top:0;
        left:0;
        display: inherit;
        z-index: 99999;
        background-color: #343434;
        color: #fff;
        padding: 10px 20px;
        width: 260px;
        box-sizing: border-box;
        height: 100%;
        margin-left: -260px
    }
    
    .swipableMenu>ul{
        margin: 20px 0;
        font-family: 'Roboto';
        /*height: 250px;*/
        overflow: scroll;
    }
    

    
    .swipableMenu>ul>li{
        padding: 10px 0;
        border-bottom: 2px solid rgb(62, 62, 62);
    }
    
    .swipableMenu>ul>li.mobMenuSub>select{
        background-color: transparent;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1em;
        border: 0;
        -webkit-appearance: none;
        outline: none;
        width: 70%;
        margin-left: -10px;
    }
    
    .swipableMenu>ul>li.mobMenuSub:before{
        content:"+";
        margin-right: 5px;
        color: #B42A42;
        font-family: 'Roboto';
        font-weight: bold
    }
    
    .swipableMenu>ul>li:first-child{
       padding-top: 0
    }
    
        #closeMenu{
        text-align: right;
        font-size: 1.4em;
        margin: 0 0 10px 0;
        color: #B42A42;
    }
    
    #closeMenu>i{
        cursor: pointer
    }
    
    
    .langSelection{
        text-align: right;
        margin: 10px 0
    }
    
    .langSelection>a{
        font-size: 1.2em;
        color:#B42A42
    }
    
    .swipableMenu>ul>li.mobMenuSub select{
        background-color: transparent;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1em;
        border: 0;
        -webkit-appearance: none;
        outline: none;
        width: 70%;
        margin-left: -10px;
    }
    
    .swipableMenu>ul li>ul {
      padding: 10px 0 0 20px;
    }
    
    .services-row a .col-2x{
        width: auto
    }
    
    .services-row a .col-10x{
        width: 70%;
    }
    
    .multi-tab .services-row:first-child{
        margin-left: 0
    }
    
    .bg-fixed{
        background-attachment: inherit
    }
}
    
@media all and (max-width: 415px) and (orientation: portrait){
    
    body{
        width: 100%;
        position: relative
    }
    
    .swipableMenu{
        position: fixed;
        top:0;
        left:0;
        display: inherit;
        z-index: 99999;
        background-color: #343434;
        color: #fff;
        padding: 10px 20px;
        width: 260px;
        box-sizing: border-box;
        height: 100%;
        margin-left: -260px
    }
    
    .swipableMenu>ul{
        margin: 20px 0;
        font-family: 'Roboto';
        /*height: 250px;*/
        overflow: scroll;
    }
    
    .swipableMenu>ul li>ul{
        padding: 5px 0 0 20px
    }
    
    .swipableMenu>ul li>ul>li{
       padding: 10px 0 0 0;
    }
    

    
    .swipableMenu>ul>li{
        padding: 10px 0;
        border-bottom: 2px solid rgb(62, 62, 62);
    }
    
    .swipableMenu>ul>li.mobMenuSub select{
        background-color: transparent;
        color: #fff;
        font-family: 'Roboto';
        font-size: 1em;
        border: 0;
        -webkit-appearance: none;
        outline: none;
        width: 70%;
        margin-left: -10px;
    }
    
    .swipableMenu>ul>li.mobMenuSub:before{
        content:"+";
        margin-right: 5px;
        color: #B42A42;
        font-family: 'Roboto';
        font-weight: bold
    }
    
    .swipableMenu>ul>li:first-child{
       padding-top: 0
    }
    
        
    .glass-effect img{
        width: 100%
    }
    
    .related-prod{
        text-align: center
    }
    
    .ce-mark{
        font-size: 1em;
    }
    
    .ce-mark img{
        width: 38px;
        float: left;
        margin-right: 10px;
        vertical-align: middle;
    }
    
    .related-prod .lead-title{
        text-align: left
    }
    
    .related-prod>.col-4x{
        width: 100%;
        margin-bottom: 20px;
    }
    
    .related-prod>.col-4x>p,.related-prod>.col-4x>small{
       text-align: left
    }
    
    #closeMenu{
        text-align: right;
        font-size: 1.4em;
        margin: 0 0 10px 0;
        color: #B42A42;
    }
    
    #closeMenu>i{
        cursor: pointer
    }
    
    header #slide-menu-button{
        visibility: visible;
        color: #B42A42;
        z-index: 99999;
        font-size: 1.5em;
        text-align: right;
        display: block;
        padding: 10px;
    }
    
    .langSelection{
        text-align: right;
        margin: 10px 0
    }
    
    .langSelection>a{
        font-size: 1.2em;
        color:#B42A42
    }
    
    #countdown-event{
        height: auto
    }
    
    #countdown-event .col-3x, #countdown-event .col-9x{
        height: auto;
        padding-bottom: 15px
    }
    
    #countdown-event .col-9x{
        padding-top: 10px
    }
    
    #countdown-event .col-9x h3{
        padding-left: 0
    }
    
    #countdown-event .col-9x>div:first-of-type{
        text-align: center;
        margin: 0
    }
    
    #countdown-event .col-9x #event-stamp>div{
        padding: 25px 10px;
        max-width: 25%
    }
    
    #countdown-event .col-9x #event-stamp>div.event-expired{
         max-width: none;
    }
    
    #countdown-event .col-9x #event-stamp>div>span{
        font-size: 1.2em
    }
    
    nav{
        display: none
    }
    
    .menu-side{
        text-align: center;
          display: inline-block;
    }
    
    .logo{
        padding: 0 0 0 0;
        width: 85%;
    }
    
    #new-used-selection{
        text-align: center;
        margin: 20px 0
    }
    
    #new-used-selection>.col-5x:first-child{
        width: 45%;
        margin-right: 8%;
    }
    
    #new-used-selection>.col-5x{
        width: 45%;
        padding-top: 12px;
        padding-bottom: 12px;
    }
    
    #new-used-selection>.col-5x:first-child:after{
        border-width:38px 20px 0 0
    }
    
    #new-used-selection>.col-5x:last-child:before{
        border-width:0 0 38px 20px
    }
    
    .search-bar .forSelect{
        right: 1%
    }
    
    .search-bar .col-3x.search-select{
        width: 49%;
        box-sizing: border-box;
        vertical-align: top;
        padding-bottom: 15px
    }
    
    .search-col{
        padding: 10px;
        text-align: right;
        text-align: center
    }
    
    footer .col-6x>.col-8x{
        margin-bottom: 20px
    }
    
    #countdown-event .col-3x:before, #countdown-event .col-3x:after{
        display:none
    }
    
    .youtube-thumb-mask{
        width: 100%
    }
    
    .multi-tab{
        border-radius: 5px
    }
    
    .tab-container{
        padding-right: inherit;
    }
    .tab-navigation{
        margin-top: 10px
    }
    
    form.contact-form div.shadowed{
        width: 79%
    }
    
    .tab-navigation-container {
         padding-left: inherit;
        margin-left: inherit;
    }
    
    ul.tab-navigation li{
        border-radius: 5px;
        border: 2px solid rgb(231, 231, 231);
    }
    
    .clear-space{
        height: 50px
    }
    
    /*.variable-size-column{
        display: none
    }
    
    .variable-size-column:first-of-type{
        display: inherit
    }*/
    
    .active-col{
        width: 100% !important;
        display: inline-block
    }
    
    .variable-size-column .col-5x, .active-col .col-5x{
        width: 100%;
        height: 200px;
        
    }
    
    .variable-size-column{
        height: auto;
        margin-bottom: 20px
    }
    
    .variable-size-column .col-7x, .active-col .col-7x{
        width: 100%;
        padding-top: 20px;
    }
    
    
    .variable-size-column *[class^="col-7x"]{
        height: auto;
        opacity: 1
    }
    
    .single-news-container{
        height: auto
    }
    
    footer .container .row>.col-3x, footer .container .row>.col-6x{
        position: relative
    }
    
    footer .container .row>.col-3x:after, footer .container .row>.col-6x:after{
        content:"";
        border-bottom: 2px solid rgb(62, 62, 62);
        padding: 20px 3%;
        width: 100%;
        box-sizing: border-box;
        display: inline-block;
    }
    
    footer .container .row>div[class^="col-"]:last-child:after{
        content:"";
        border-bottom: 0;
    }
    
    footer .dark-grey-band{
        margin-top: 0;
        line-height: 1.5em
    }
    
    .tab-wrap{
        margin-top: 30px
    }
    
    .search-col:after{
        display: none
    }
    
    .prod-description{
        margin-top: 30px
    }
    .youtube-thumb-nav-button{
        display: none
    }
    
    
    .banner-partner{
        padding-left: 0
    }
    
    .banner-partner img{
        border-top-left-radius: 5px;
    }
    
    .banner-partner a{
        border-bottom-left-radius: 5px;
    }
    
    .footer-social{
        float: none;
        display: block;
        text-align: right;
        margin-top: 20px;
    }
    
    .social-bar{
        text-align: center
    }
    
    .social-bar li:first-child{
        display: none
    }
    
    .variable-size-column:hover .col-5x, .active-col .col-5x{
        width: 100%
    }
    
    .variable-size-column:hover .col-5x, .active-col .col-7x{
        width: 100% !important;
        padding-top: 20px !important;
    }
    
    .print-info{
        display: none
    }
    
    #data-sheet-print-button{
        width: 100%
    }
    
    .lat-prod-list{
        display: none
    }
    
    .sel-lat-prod-list{
        width: 100%;
        border: 2px solid #E7E7E7;
        box-sizing: border-box;
        padding: 15px 10px;
        margin-bottom: 40px;
        color: #707173;
        font-variant: small-caps;
        display: block;
        appearance:none;
        -webkit-appearance:none; 
        -moz-appearance:none;
        border-radius: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
    
    .sel-lat-prod-list:focus{
        border-color: #B42A42;
        transition: all .2s linear;
        -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
    }
}

@media all and (min-width: 414px) and (max-width: 736px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 3){
    .variable-size-column .col-7x, .active-col .col-7x{
        width: 49%
    }
    .variable-size-column .col-5x, .active-col .col-5x{
        width: 49%
    }
    
    .footer-logo{
          width: 50%;
          display: inline-block;
    }
    
    .footer-seo-text{
        width: 49%;
        display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
        padding-left: 20px;
    }
    
    .map-container .col-8x{
        width: 50%;
        display: inline-block
    }
    
    .map-container .col-4x{
        width: 49%;
        display: inline-block
    }
    .nl-subscription{
        text-align: center
    }
    .nl-subscription input{
        width: 49% !important;
        display: inline-block !important;
    }
    
    
}

@media only screen and (min-device-width: 767px) and (max-device-width: 1025px) and (orientation: portrait){
    #countdown-event{
        height: 160px;
    }
    
    #countdown-event .col-3x , #countdown-event .col-9x{
        width: 50%
    }
    
    #countdown-event .col-3x p{
        width: 90%
    }
    
    nav{
        display: none
    }
    
    .menu-side{
        text-align: center
    }
    
    .logo{
        padding-right: 0
    }
    
    .social-bar ul li:first-child{
        display: none
    }
    
    .social-bar{
        text-align: center
    }
    
    header #slide-menu-button{
        visibility: visible;
        color: #B42A42;
        z-index: 99999;
        font-size: 1.5em;
        text-align: right;
        display: block;
        padding: 10px;
    }
    
    #new-used-selection{
        width: 100%;
        text-align: center;
     margin: 10px 0;
    }
    
    #new-used-selection .cutted-button{
        width: 48%
    }
    
    .search-col:after{
        width: 4px
    }
    
    .search-bar .col-3x{
        width: 33.3%
    }
    
    .search-form{
        overflow: hidden
    }
    
    .tab-container{
        width: 100%
    }
    
    .tab-navigation-container{
        width: 100%;
        margin-left: 0;
        margin-top: 15px;
    }
    
    ul.tab-navigation li{
        border-radius: 5px;
        border-left-color: rgb(231, 231, 231);
    }
    
    .youtube-thumb-nav-button{
        display: none
    }
    
    .banner-partner{
        width: 49%;
        display: inline-block;
          padding: 10px 0;
    }
    
    .youtube-thumb-mask{
        width: 100%
    }
    
    .banner-partner img{
        border-top-left-radius: 5px
    }
    
    .banner-partner a{
        border-bottom-left-radius: 5px
    }
    .swipableMenu{
        width: 300px;
        margin-left: -300px
    }
  }
  
  @media all and (min-width: 979px) and (max-width: 1024px) and (orientation: landscape){
      .menu-side{
          text-align: center
      }
      
      .logo{
        padding: 10px 0;
        margin: auto;
      }
      
      #countdown-event{
          height: 180px
      }
      
      header #slide-menu-button{
          display: none;
      }
      
      .social-bar{
          padding-top: 15px
      }
      
      .megamenu .lead-title{
          text-align: left
      }
      nav ul li.first-sub>div.dropdown.megamenu{
          top:100%;
      }
      .search-col:after{
          width: 4px
      }
      
      .bg-fixed{
        box-sizing: border-box;
        padding: 100px 0 100px 0;
      }
      
      .details-image img{
          box-sizing: border-box
      }
  }
  
  @media print { 
 /* All your print styles go here */
    #countdown-event, .search-bar, nav, .social-bar, .clear-space{ 
        display: none !important; 
    }
    
    footer .footer-social{
        display: none
    }
    
    footer, footer .dark-grey-band{
        background-color: transparent
    }
    
    footer .dark-grey-band{
        color: #323232;
        border-top: 2px double #707173;
        position: absolute;
        bottom: 0
    }
    
    footer>.container{
        display: none
    }
    
    .menu-wrapper{
        box-shadow: 0px 0px 0px rgba(255, 255, 255, 0);
        border-bottom: 2px double #707173;
        margin-bottom: 50px
    }
    
    .menu-side{
        text-align: center
    }
    
    .sidebar{
        display: none;
    }
    
    .col-8x{
        width: 100%
    }
    
    .col-5x.prod-image-container {
        width: 100% !important;
        height: 400px;
    }
    
    .related-prod{
        display: none
    }
    
    #data-sheet-print-button, .print-info{
        display: none;
    }
}